/* Set basic style which is consistent across all pages */
body {
	background-color: white;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	padding: 0;
	margin: 0 auto;
	color: #2f2f2f;
	letter-spacing: 0.05rem;
	line-height: 1.9rem;	
}

body {
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}

/* Basic text contents of each page */
.content {
	text-align: center;
	min-height: calc(100vh - 15rem);
}

/* Style the sub title of each page */
.pageTitle {
	padding-top:1rem;
	padding-bottom: 0rem;
	font-size: 2.5rem;
	color: #2e2e2e;
}


/***********************************HOMEPAGE BANNER BEGIN***********************************/
.bannerHome {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 9rem;
	width: 100%;
}

.bannerHome > div {
    width: 33.33333%;
}
@media (max-width: 768px) {
    .bannerHome > div {
        width: 100%;
    }
}

/* Title on Banner */
.bannerTitleHome h1{
	color: white;
	font-size: 1.5rem;
	width: auto;
}

/* Title on Banner */
.bannerTitleHome {
	justify-content: center;
	width: auto;
	padding-left: 4rem;
	padding-top: 1rem;
	margin-top: 1rem;
}

/* Banner navigation links */
.bannerNavHome {
	text-decoration: none;
	justify-content: center;
	width: auto;
}

.bannerNavHome ul {
	padding: 0.1rem;
	padding-top: 1rem;
	display: flex;
	justify-content: center;
}

/* Style navigation links by row */
.bannerNavHome ul li {
	display: inline;
}

.bannerNavHome ul li a {
	color: white;
}
.bannerNavHome a {
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	padding: 1.32rem;
}

.bannerSocialHome {
	font-size: 2rem;
	width: 16rem;
	text-decoration: none;
	padding-right: 3rem;
}

/* Banner social links */
.bannerSocialHome ul li{
	display: flex;
	justify-content: center;
	text-decoration: none;
}

/* Block containing social media links on footer */
.socialMediaHeaderHome {
	text-decoration: none;
	width: 16rem;
	float:right;
}

/* Style header social links */
.socialMediaHeaderHome a {
	width: 2rem;
	height: 2rem;
	font-size: 1.7rem;
	color: white;
	background-color: inherit;
	text-decoration: none;
	float: right;
	margin: 0.2rem;
	padding: 1.1rem;
}

/* Style the links inside the top navigation buttons */
.bannerNavHome a {
	color: white;
	text-decoration: none;
}

/* Hover effect for navigator pages Icons */
.bannerNavHome a:hover {
	opacity: 0.7;
}

/* Define what happens to nav bar when you are on specific page */
#index .bannerNavHome .index,
#gallery .bannerNavHome .gallery,
#shop .bannerNavHome .shop,
#contact .bannerNavHome .contact {
  font-weight: bold;
}
/***********************************HOMEPAGE BANNER END***********************************/





/***********************************GENERAL BANNER BEGIN***********************************/
.banner {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 9rem;
	width: 100%;
}

.banner > div {
    width: 33.33333%;
}
@media (max-width: 768px) {
    .banner > div {
        width: 100%;
    }
}

/* Title on Banner */
.bannerTitle h1{
	color: black;
	font-size: 1.5rem;
	width: auto;
}

/* Title on Banner */
.bannerTitle {
	justify-content: center;
	width: auto;
	padding-left: 4rem;
	padding-top: 1rem;
	margin-top: 1rem;
}

/* Banner navigation links */
.bannerNav {
	text-decoration: none;
	justify-content: center;
	width: auto;
}

.bannerNav ul {
	padding: 0.1rem;
	padding-top: 1rem;
	display: flex;
	justify-content: center;
}

/* Style navigation links by row */
.bannerNav ul li {
	display: inline;
}

.bannerNav ul li a {
	color: black;
}
.bannerNav a {
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	padding: 1.32rem;
}

.bannerSocial {
	font-size: 2rem;
	width: 16rem;
	text-decoration: none;
	padding-right: 3rem;
}

/* Banner social links */
.bannerSocial ul li{
	display: flex;
	justify-content: center;
	text-decoration: none;
}

/* Block containing social media links on footer */
.socialMediaHeader {
	text-decoration: none;
	width: 16rem;
	float:right;
}

/* Style header social links */
.socialMediaHeader a {
	width: 2rem;
	height: 2rem;
	font-size: 1.7rem;
	color: black;
	background-color: inherit;
	text-decoration: none;
	float: right;
	margin: 0.2rem;
	padding: 1.1rem;
}

/* Style the links inside the top navigation buttons */
.bannerNav a {
	color: black;
	text-decoration: none;
}

/* Hover effect for navigator pages Icons */
.bannerNav a:hover {
	opacity: 0.7;
}

/* Define what happens to nav bar when you are on specific page */
#index .bannerNav .index,
#gallery .bannerNav .gallery,
#shops .bannerNav .shop,
#contact .bannerNav .contact {
  font-weight: bold;
}
/***********************************GENERAL BANNER END***********************************/











/***********************************FOOTER START***********************************/
/* Style all font awesome icons*/
.fa {
	padding: 1.05rem;
	font-size: 2rem;
	text-align: center;
}

/* Hover effect for Social Media Icons */
.fa:hover {
	opacity: 0.7;
}

.fa-instagram {
	background: #ffb3d9;
	color: white;
	width: auto;
	height: auto;
	border-radius:10%;
}

.fa-twitter {
	background: #55ACEE;
	color: white;
	width: auto;
	height: auto;
	border-radius:10%;
}

.fa-linkedin {
	background: #007BB6;
	color: white;
	width: auto;
	height: auto;
	border-radius:10%;
}

/* Set the background for the bottom navigation bar */
footer {
	margin-top: 1rem;
	padding: 3rem;
	padding-bottom: 1rem;
}

/* Style the links inside the bottom navigation bar */
footer a {
	color: black; /* Colour of text */
	text-align: center;
	padding: 1rem 1rem; /* Size of each block */
	text-decoration: none; /* Remove underline on text */
	font-size: 1.2rem;
	overflow: hidden;
}

/* Style the site URL */
.siteLink {
	font-size: 1.2rem;
	padding-left: 1rem;
	padding-top: 1rem;
	color: black;
}

/* Block containing social media links on footer */
.socialMediaFooter {
	text-decoration: none;
	float: right;
}

.footer a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

/* When the cursor hovers over each box set the following */
footer i:hover {
	color: black;
	width: auto;
	height: auto;
}

/* Style each social media link */
.socialMediaFooter a {
	text-decoration: none;
}
/* Block containing social media links on footer */
.socialMedia {
	font-size: 30px;
	text-decoration: none;
}

/* Style each social media link */
.socialMedia a {
	font-size: 20px;
	margin: 0.3rem;
	padding: 1.5rem;
	text-decoration: none;
}

.footer a {
	color:black;
}

.footerLink:hover {
	opacity: 0.7;
}
/***********************************FOOTER END***********************************/






/***********************************HOME BEGIN***********************************/
/* Introduction to website on Home Page */
.intro {
	margin-right: 5rem;
	color: white;
	padding-top: 20rem;
	margin: 0 auto;
	width: 85%;
	text-align: center;
	font-size: 1.4rem;
	height: 50rem;
}

.content button {
  border: 0.4rem solid white;
  background-color: white;
  color: white;
  padding: 2rem 2rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition-duration: 0.4s;
}

.content button:hover {
  background-color: #FFFFFF;
  color: black;
}

a:visited { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:black }

/***********************************HOME END***********************************/





















/***********************************GALLERY BEGIN***********************************/
.galleryRow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.galleryColumn {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
	box-sizing: border-box;
}

.galleryColumn img {
  vertical-align: middle;
  width: 100%;
}

/* Set styles for Gallery */
.galleryWrap {
	position: relative;
	padding: 5px;
}

/* Style the overlay which is displayed when an iamge is hovered over */
.galleryOverlay {
	position: absolute;
	background: rgba(192,192,192,0.5);
	visibility: hidden;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
}

/* Style the description shown in the overlay */
.galleryDate {
	transform: translateY(1em);
	font-size: 1rem;
	color: #FFFFFF;
}

/* Style the location given to each image */
.galleryLocation {
	font-size: 2rem;
	margin-left: 0.4rem;
	color: #FFFFFF;
}

/* Style entire gallery */
.gallery {
	flex-wrap: wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: flex;
}
/* Stop text from changing when clicked on */
.galleryOverlay a {
	text-decoration: none;
}

/* Make overlay visible when hovering over image */
.galleryWrap:hover .galleryOverlay {
	visibility: visible;
	  cursor: pointer;
}

/* Make description visible when hovering over image */
.galleryWrap:hover .galleryDescription {
	transform: translateY(0);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .galleryColumn {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .galleryColumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/***********************************GALLERY END***********************************/











/***********************************SHOP BEGIN***********************************/
/* Adjust projects page */
.shops {
	padding: 3rem;
	padding-left: 15rem;
	padding-right: 10rem;
}

/* Adjust projects links */
.shopLink{
	list-style-type: circle;
}

/* Adjust projects links */
.shopLink li{
	display: flex;
	margin-right: 2rem;
}

/* Adjust projects links */
.shopLink a{
	color: #c27c93;
}

/* Style shop boxes on shops page */
.shopRow {
	padding-left: 6rem;
	padding-right: 6rem;
	padding-bottom: 12rem;
	display: flex;
}

/* Style shops text */
.shopRow p {
	color: #2f2f2f;
}

/* Style shops header */
.shopRow h1 {
	color: #2f2f2f;
}

/* Style shops description */
.description {
	text-align: left;
}

/* Make style consistent for each shops box */
.shop-500px,
.shop-picfair,
.shop-other {
	flex: 50%;
	text-align: left;
	max-width: 50%;
	padding: 0 4px;
}

.shop-picfair-image  {
	display: flex;
}

.shop-500px-image  {
	display: flex;
	width:20rem;
	height:20rem;
	margin: -100px 0 0 -100px;
	padding-left: 7rem;
	padding-right: 7rem;
	border: 1px solid black;
}

/* Style shops image */
.shop-other-image {
	display: flex;
	flex: 50%;
	text-align: left;
	max-width: 50%;
	height: 20rem;
    width: 20rem%;
}

/* spacing between text and image*/
.shop-picfair {
	padding-left: 5rem;
}

.shop-500px ul,
.shop-picfair ul,
.shop-other ul {
	text-align: center;
	list-style: none;
	padding-left: 0;
	text-decoration: none;
}

/* spacing between text and image*/
.shop-500px {
	padding-right: 20rem;
}

/* spacing between text and image*/
.shop-other {
	padding-left: 5rem;
}

.imagePicfair,
.image500px,
.imageOther {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
}
/***********************************SHOPS END***********************************/










/***********************************CONTACT START***********************************/

/***********************************CONTACT END***********************************/





/* Style for Mobile Phones */
@media only screen and (max-width: 800px){
	/** HEADER **/
	.banner {
		background-image: none;
		background-position: center;
		justify-content: center;
		height: 14rem;
		background-position: 100% 55%;
		width: 100%;
		justify-content: space-between;
		background-size: none;	
	}
	.bannerTitle {
		display: none;
	}
	.pageTitle {
		font-size: 3rem;
	}
	.bannerNav {
		text-decoration: none;
	}
	.bannerNav a{
		font-size: 1rem;
		text-decoration: none;
		margin: 0;
		padding-top: 1.4rem;
		padding-bottom: 1.4rem;
	}
	.bannerNav a:hover{
		color: black;	
	}
	.bannerNav ul {
		margin:0;
		padding:0;
		position: absolute;
		width:100%;
	}
	.bannerNav ul li {
		width:10%;
	}
	.bannerSocial {
		display: none;
	}
	.bannerSocial ul li{
		display: none;	
	}
	.socialMediaHeader {
		display: none;
	}
	.socialMediaHeader a {
		display: none;
	}
	.bannerNav a:hover {
		opacity: 0.7;
	}
	.index,
	.shop,
	.gallery,
	.contact {
		margin: auto;
		width: auto;
		padding: 0;
	}
	.shop-html,
	.shop-picfair,
	.shop-other {
		flex: 50%;
		text-align: left;
		max-width: 50%;
		padding: 0 4px;
	}

	/* Style shops image */
	.shop-picfair-image,
	.shop-html-image,
	.shop-other-image {
		display: flex;
		flex: 50%;
		text-align: left;
		max-width: 50%;
	}
	/** FOOTER **/
	footer {
		padding: 0;
	}
	footer a {
		display: block;
		font-size: 1.5rem;
	}
	footer a:hover {
		background-color: #DDFAFD;
		color: black;
	}
	.siteLink {
   	display: none;
	}
	.fa {
   	display: none;
	}
	.socialMediaFooter {
		display: none;
	}



	/** CONTACT PAGE**/
	.content .socialMedia a{
		display: inline-block;
	}
	.content .socialMedia .fa-linkedin,
	.content .socialMedia .fa-twitter,
	.content .socialMedia .fa-instagram{
		border-radius: 10%;
		width: 2rem;
	}
	.content {
		min-height: calc(100vh - 39rem);
	}
}
